{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
         <link rel="stylesheet" href="/static/css/standard.css" />
        <title>Buy Local Art!</title>
    </head>

    <nav><ul class ="nav_tags">
        <a href="index.html"></a><img src="/static/images/logo.png" alt="logo"></a> | Search Bar | <div id="navbar">
            </div> | CART | Artist Medium | Categories</ul></nav>

    <body>
    {% block content %} {% endblock %}
        <form id="stream">
            <img src="/static/images/placeholder.jpg" alt="image" class="filler" />
            <img src="/static/images/placeholder.jpg" alt="image" class="filler" />
            <img src="/static/images/placeholder.jpg" alt="image" class="filler" />
            <img src="/static/images/placeholder.jpg" alt="image" class="filler" />
            <img src="/static/images/placeholder.jpg" alt="image" class="filler" />
            <img src="/static/images/placeholder.jpg" alt="image" class="filler" />
            <img src="/static/images/placeholder.jpg" alt="image" class="filler" />
            <img src="/static/images/placeholder.jpg" alt="image" class="filler" />
        </form>
    </body>
</html>