{% extends "pdxart/base.html" %}
<hr>
{% block content %}
    {% if user.is_authenticated %}
        <h1>Welcome back!</h1>
        <a href="{% url 'logout' %}">Logout</a><br>
        <a href="{% url 'updateprofile' %}">Update Profile</a><br>
        <a href="{% url 'inventory' %}">Current inventory</a><br>
        <a href="{% url 'addinventory' %}">Add inventory</a><br>

    {% else %}
        <h1>Welcome Art-Supporter!</h1>
        <a href="{% url 'login' %}">Login</a><br>
        <a href="{% url 'registration' %}">Register</a><br>

    {% endif %}

{% endblock %}