<!doctype HTML> 
<html>
  <head>
    <title>Registration page</title>
{#        <script src="registration.js"></script>#}
  </head>
  <body>
    <fieldset>
        <legend>
            Create an account
        </legend>
    <div id="login_box">
      <form role="form" method="POST" action="." id="registration" enctype="multipart/form-data">
        <div id="errors" style="color: red;"></div>

{% csrf_token %}
        Email: <input type="email" name="email" id="email"><br>
        Password: <input type="password" name="password" id="password"><br>
        Profile picture: <input type="file" name="image_upload" multiple><br>
        Date of birth: <input type="date" name="dob" id="dob"><br>

    <p>

        How did you hear about us?
        <select size="1">
            <option>Friend/Family member</option>
            <option>Radio ad</option>
            <option>Internet ad</option>
            <option>Fellow artist</option>
        </select></p>
        <input type="checkbox" value="Yes" name="agree">I agree to follow the Terms and Conditions</input>
{#          TODO: Require this box to be checked before moving on#}
          <br>
        <input type="checkbox" value="Yes" name="updates">Sign me up for email updates</input>
        <br>
      <input type="submit" value="Register">
    </form></div>
    </fieldset>

  </body>
</html>