<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Profile Edit</title>
</head>
<body>
{# TODO: Create an id, go to update it, have the fields prepopulated#}

{% block content %}
    <div id="body">
    <P ALIGN=Center><h2>Update your profile</h2></P ALIGN=Center>
        </div>
<div class="value">
    Email: <input value="{{ profile.email }}"/><br>
    First name: <input value="{{ profile.firstname }}"/><br>
    Last name: <input value="{{ profile.lastname }}"/><br>
{#    Password: <input value="{{ profile.password }}"/><br>#}
{#    Gender = <select value="">#}
{#      <option>Female</option>#}
{#      <option>Male</option>#}
{#      <option>Transgendered</option>#}
{#      <option>Prefer not to answer</option></select><br>#}

    Website: <input value="{{ profile.website }}"/><br>
    Facebook page: <input value="{{ profile.facebook }}"/><br>
    Twitter: <input value="{{ profile.twitter }}"/><br>
    LinkedIn: <input value="{{ profile.linkedin }}"/><br>
    Date of birth: <input value="{{ profile.dob }}"/><br>
    Why do you like art? (500 word limit): <input value="{{ profile.bio }}"/><br>
</div>

{% endblock %}

</body>
</html>